# Default ignored files
/../../../:JOBCARD/.idea/shelf/
/../../../:JOBCARD/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:JOBCARD/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:JOBCARD/.idea/dataSources/
/../../../:JOBCARD/.idea/dataSources.local.xml
